.hire-tooltip {
	background: #37474F;
	border-radius: 6px;
	color: #ECEFF1;
	padding: 20px;
	position: absolute;
}

.hire-tooltip:after {
	content: '';
	position: absolute;
	width: 0; height: 0;
}

/* TOP && BOTTOM */
.hire-tooltip.top:after, .hire-tooltip.bottom:after {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	left: 50%;
	margin-left: -8px;
}

/* BOTTOM */
.hire-tooltip.bottom {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	margin-top: 8px;
}

.hire-tooltip.bottom:after {
	top: -8px;
	border-bottom: 8px solid #37474F;
}

/* TOP */
.hire-tooltip.top {
	margin-bottom: 8px;
}

.hire-tooltip.top:after {
	top: 100%;
	border-top: 8px solid #37474F;
}

/* LEFT && RIGHT */
.hire-tooltip.left:after, .hire-tooltip.right:after {
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	top: 50%;
	margin-top: -8px;
}

/* RIGHT */
.hire-tooltip.right {
	margin-left: 8px;
}

.hire-tooltip.right:after {
	left: -8px;
	border-right: 8px solid #37474F;
}

/* LEFT */
.hire-tooltip.left {
	margin-right: 8px;
}

.hire-tooltip.left:after {
	left: 100%;
	border-left: 8px solid #37474F;
}

/* SHIFT TIP */

.hire-tooltip.top.shift-left:after, .hire-tooltip.bottom.shift-left:after {
	left: 20%;
}

.hire-tooltip.top.shift-right:after, .hire-tooltip.bottom.shift-right:after {
	left: 80%;
}